/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
  background: #000;
  height: 70px;
}

/* LOGO */
.logo h1 {
  color: red;
}
.logo span {
  color: #fff;
}

/* SEARCH */
.search-bar {
  background: #201d1d;
  border: 1px solid #333; 
  border-radius: 25px;    
  padding: 8px 20px;      
  display: flex;
  align-items: center;    
  width: 280px;           
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /
}


.search-bar:hover, .search-bar:focus-within {
  background: #2a2626;
  border-color: #ff4d4d; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  width: 300px;          
}


.search-bar input {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  width: 100%;
}

/* MENU */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}


.nav-icons a:hover {
    color: red;
    transition: 0.3s;
}


.nav-menu ul li a:hover {
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

.nav-menu.compact ul li a {
  color: transparent;
  position: relative;
}

.nav-menu.compact ul li a::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
}

/* MENU TOGGLE */
.menu-toggle {
  display: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/* CARRINHO */
.cart-icon {
  position: relative;
}
#cart-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 25px; 
}
/* BANNER */
.banner {
  height: 100vh; 
  width: 100%;
 
  background: url('../../assets/icons/bugatti.png') center center / cover no-repeat;
  background-attachment: scroll; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.banner h2 {
  color: #fff;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #000;
    flex-direction: column;
    transform: translateY(-200%);
    transition: 0.3s;
  }

  .nav-menu.active {
    transform: translateY(0);
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .search-bar {
    display: none;
  }
}
