/* INDEX.CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; 
  background-color: #000;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  background: #000;
  height: 80px;
  width: 100%;
  position: fixed; 
  top: 0;
  z-index: 1100;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px; 
}

/* LOGO */
.logo h1 { color: red; font-size: 1.8rem; }
.logo span { color: #fff; }

/* SEARCH */
.search-bar {
  background: #201d1d;
  border: 1px solid #333; 
  border-radius: 25px;    
  padding: 8px 20px;      
  display: flex;
  align-items: center;    
  width: 280px;           
  transition: all 0.3s ease;
}

.search-bar:focus-within { width: 320px; border-color: red; }

.search-bar input {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

/* MENU LATERAL */
.nav-menu {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 280px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.98);
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  z-index: 1000;
  border-left: 1px solid #222;
}
.nav-menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 180px;
  background: url('../../assets/icons/ferrari-250-gto.png') no-repeat center center;
  background-size: contain;
  background-color: #000;
  
  position: absolute; 
  top: 40px; 
  z-index: 10;
  pointer-events: none; 
}

.nav-menu::after {
    content: 'FERRARI 250 GTO';
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 2px;
    z-index: 2100;
  }

.nav-menu.active {
  right: 0;
  visibility: visible;
}

.nav-menu ul {
  width: 100%;
  margin-top: 200px; 
  overflow-y: auto; 
  height: calc(100vh - 220px); 
  padding-bottom: 00px;
  z-index: 1; 
  scrollbar-width: none; 
  list-style: none;
  padding-left: 0;
  
}

.nav-menu ul::-webkit-scrollbar { display: none; }

.nav-menu ul li {
  width: 100%;
  text-align: center;
  margin: 25px 0;

}

.nav-menu ul li a {
  font-size: 1.3rem; 
  font-style: italic;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  
  animation: fireSide 1.5s infinite alternate;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-menu a:hover { color: red; }
@keyframes fireSide {
  0% { 
    text-shadow: 
      0px -1px 3px #fff, 
      0px -2px 8px #ffea00, 
      0px -5px 15px #ff8000; 
  }
  100% { 
    text-shadow: 
      0px -1px 3px #fff, 
      0px -3px 10px #ffea00, 
      0px -8px 25px #f00; 
  }
}

/* MENU TOGGLE */
.menu-toggle {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  z-index: 1200;
}

/* ÍCONES */
.nav-icons { display: flex; align-items: center; gap: 20px; }
.nav-icons a { color: #fff; font-size: 20px; transition: 0.3s; }
.nav-icons a:hover { color: red; }

.cart-icon { position: relative; }
#cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* BANNER RESPONSIVO */
.banner {
  height: 100vh; 
  width: 100%;
  background: url('../../assets/icons/bugatti.png') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU MOBILE ESTILO PISTA */
@media (max-width: 768px) {
  .nav-menu {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0); 

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border: none;

  }

  /* O CARRO - Fixado no topo  */
  .nav-menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background: url('../../assets/icons/ferrari-250-gto.png') no-repeat center center;
    background-size: contain;
    
    position: absolute; 
    top: 0;
    z-index: 10;
    pointer-events: none; 
  }

  .nav-menu::after {
    content: 'FERRARI 250 GTO';
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 2px;
    z-index: 2100;
  }

  .nav-menu ul {
    width: 100%;
    margin-top: 200px; 
    overflow-y: auto; 
    height: calc(100vh - 250px); 
    padding-bottom: 50px;
    z-index: 1; 
    scrollbar-width: none; 
  }

  .nav-menu ul::-webkit-scrollbar { display: none; }

  .nav-menu ul li {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .nav-menu ul li a {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 3px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    
    animation: fire 1.5s infinite alternate;
  }
}
.nav-menu a:hover { color: red; }

@keyframes fire {
  0% { text-shadow: 0px -2px 4px #fff, 0px -4px 10px #ff0, 0px -10px 20px #ff8000; }
  100% { text-shadow: 0px -2px 4px #fff, 0px -4px 14px #ff0, 0px -12px 30px #f00; }
}